.noteContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;            
  max-width: 800px;       
  margin: 20px auto;     
  padding: 20px;
  box-sizing: border-box;
  background-color: #314c91; 
}

.noteTitle {
  width: 100%;         
  font-size: 20px;      
  margin-bottom: 20px;   
  text-align: left;     
  resize: none;         
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.noteText {
  width: 100%;
  min-height: 10rem;     /* initial height */
  resize: vertical;      /* allow manual grow */
  overflow-y: auto;
  box-sizing: border-box;
  font-size: 15px;
  resize: none;
}


