.homeContainer {
  display: flex;
  flex-wrap: wrap;          
  justify-content: flex-start; 
  gap: 20px;                
  max-width: 90vw;         
  margin: 0 auto;            
  box-sizing: border-box;    
}

.note {
  width: 300px;
  aspect-ratio: 1 / 1;
  outline: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.note:hover{
  transform: translateY(-1px);     
  outline: 2px solid rgb(132, 255, 130);
}

.note .title {
  width: calc(100% + 20px); 
  margin: -10px 0 10px -10px; 
  padding: 10px;
  background-color: #5a89ff;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.note .postBody {
  flex: 1;           
  overflow-y: auto;  
  word-wrap: break-word;
  white-space: pre-wrap;
}


